<div style="height: 100vh; display: flex; justify-content: center;">
    <div style="max-width: 100vw; width: 50%;">
        <table mat-table [dataSource]="employee">
            <ng-container matColumnDef="employeeUsername">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let emp">{{ emp.employeeUsername }}</td>
            </ng-container>

            <ng-container matColumnDef="employeeSalary">
                <th mat-header-cell *matHeaderCellDef>Salary</th>
                <td mat-cell *matCellDef="let emp">{{ emp.employeeSalary }}</td>
            </ng-container>

            <ng-container matColumnDef="paymentHistory">
                <th mat-header-cell *matHeaderCellDef>Payment History</th>
                <td mat-cell *matCellDef="let emp" style="width: 150px">
                    <button mat-raised-button color="primary" (click)="paymentHistory(emp.employeeId)">History</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="makePayment">
                <th mat-header-cell *matHeaderCellDef>Make Payment</th>
                <td mat-cell *matCellDef="let emp" style="width: 150px">
                    <button mat-raised-button color="accent" (click)="makePayment(emp.employeeId)">Pay</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="updateAccountDetails">
                <th mat-header-cell *matHeaderCellDef>Update Account Details</th>
                <td mat-cell *matCellDef="let emp" style="width: 150px">
                    <button mat-raised-button style="background-color: rgb(130, 233, 90);"
                        (click)="updateAccountDetails(emp.accountDetails.accountId)">Update</button>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['employeeUsername', 'employeeSalary', 'paymentHistory', 'makePayment', 'updateAccountDetails']">
            </tr>
            <tr mat-row
                *matRowDef="let row; columns: ['employeeUsername', 'employeeSalary', 'paymentHistory', 'makePayment', 'updateAccountDetails']">
            </tr>
        </table>
    </div>
</div>