<div style="height: 100vh; display: flex; justify-content: center;">
    <div style="max-width: 100vw; width: 60%;">
        <table mat-table [dataSource]="paymentHistoryList">
            <ng-container matColumnDef="paymentDate">
                <th mat-header-cell *matHeaderCellDef>Payment Date</th>
                <td mat-cell *matCellDef="let payment">{{ payment.paymentDate }}</td>
            </ng-container>

            <ng-container matColumnDef="paymentTransactionId">
                <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                <td mat-cell *matCellDef="let payment">{{ payment.paymentTransactionId }}</td>
            </ng-container>

            <ng-container matColumnDef="paymentAmount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let payment">{{ payment.paymentAmount }}</td>
            </ng-container>

            <ng-container matColumnDef="paySlip">
                <th mat-header-cell *matHeaderCellDef>Pay Slip</th>
                <td mat-cell *matCellDef="let payment">
                    <div hidden>
                        <div class="container" id="paySlip">
                            <p><b>Payment Date: </b>{{ payment.paymentDate }}</p>
                            <p><b>Transaction Id: </b>{{ payment.paymentTransactionId }}</p>
                            <p><b>Leaves taken this month: </b>{{ payment.employeeLeaveDays }}</p>
                            <p><b>Tax: </b>{{ payment.paymentTaxPercent }}</p>
                            <p><b>Performance Rating: </b>{{ payment.employeePerformanceRating }}</p>
                            <p><b>Amount: </b>{{ payment.paymentAmount }}</p>
                        </div>
                    </div>
                    <button mat-raised-button style="background-color: rgb(245, 168, 96);" class="btn-secondary"
                        (click)="generatePaySlip()">Pay Slip</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['paymentDate', 'paymentTransactionId', 'paymentAmount', 'paySlip']">
            </tr>
            <tr mat-row
                *matRowDef="let payment; columns: ['paymentDate', 'paymentTransactionId', 'paymentAmount', 'paySlip']">
            </tr>
        </table>
    </div>
</div>