<div class="container" style="margin-top: 5%; width: 80%;">
    <h1>Engineer your NexTurn on Cloud</h1>
    <p>We enable clients to navigate the paradigm shift in building and modernizing software products & platforms
        leveraging
        cloud native solutions. Partner with us to accelerate your innovation & digital transformation journey by
        unlocking
        full value of cloud.</p>

    <h2>What We Do</h2>
    <p>We work with clients in engineering their Products and Platforms that generate new value and deliver enhanced
        experience. Our services are aligned with your digital transformation lifecycle from ideation to continuous
        experimentation to continuous engineering and are focused on delivering continuous value creation.</p>

    <img style="width: 90%; border-radius: 20px;" src="../assets/nexturn1.PNG" alt="">
</div>