<form (ngSubmit)="pay()" style="margin: 30%; margin-top: 5%; margin-bottom: 5%;">
    <form (ngSubmit)="calculate()">
        <div>
            <mat-form-field style="width: 350px;">
                <mat-label>Enter Leaves Taken by Employee</mat-label>
                <input type="number" matInput id="leavemployeeLeaveDayses" [(ngModel)]="employeeLeaveDays"
                    name="employeeLeaveDays">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 350px;">
                <mat-label>Give Performance rating out of 5</mat-label>
                <input type="number" matInput id="employeePerformanceRating" [(ngModel)]="employeePerformanceRating"
                    name="employeePerformanceRating" min="1" max="5" name="employeePerformanceRating" />
            </mat-form-field>
        </div>
        <br><br>
        <div class="mb-3">
            <button mat-raised-button color="primary" type="submit">CALCULATE</button>
        </div>
    </form>

    <h2>currentSalary = <b>{{ paymentAmount }}</b></h2>
    <div style="margin-top: 50px;">
        <button mat-raised-button class="btn-primary" color="accent">Make Payment</button>
    </div>
</form>
